<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Title"
              formControlName="title"
              matInput
              type="text"
            />
            <div
              class="messages"
              *ngIf="titleField.touched && titleField.invalid"
            >
              <mat-error *ngIf="titleField.hasError('required')">
                Este campo es requerido
              </mat-error>
              <mat-error *ngIf="titleField.hasError('minlength')">
                Minimo 4 caracteres
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Price"
              formControlName="price"
              matInput
              type="number"
            />
            <div
              class="messages"
              *ngIf="priceField.touched && priceField.invalid"
            >
              <mat-error *ngIf="priceField.hasError('price_invalid')">
                no te debes pasar de 10000
              </mat-error>
              <mat-error *ngIf="priceField.hasError('required')">
                Este campo es requerido
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea
              placeholder="Description"
              formControlName="description"
              matInput
            ></textarea>
            <div
              class="messages"
              *ngIf="descriptionField.touched && descriptionField.invalid"
            >
              <mat-error *ngIf="descriptionField.hasError('required')">
                Este campo es requerido
              </mat-error>
              <mat-error *ngIf="descriptionField.hasError('minlength')">
                Minimo 10 caracteres
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <img *ngIf="image$ | async as image" [src]="image" alt="" />
          <input type="file" (change)="uploadFile($event)" placeholder="Images" />
          <div
            class="messages"
            *ngIf="imagesField.touched && imagesField.invalid"
          >
            <mat-error *ngIf="imagesField.hasError('required')">
              Este campo es requerido
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-select formControlName="categoryId" placeholder="Category">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">
        Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
